#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  float: left;
}

.wrapper
{
  height: auto;
  width: 100%;
  /* background: #000; */
}
.ChartCanvas
{
  width: 100vw;
  height: 40vh;
}